{% extends 'jianshu/base.html' %}
{% block title %}Index{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
    <ul>
        <p>{{ article_not_exist }}</p>
        <p>{{ img_error }}</p>
        <p>{{ user_error }}</p>
        <h3 class="page-title"> {{ article.article_title }} </h3>
        <h5 class="page-title">作者: {{ album.album_user.username }} </h5>
        <h5 class="page-title">创建时间: {{ article.article_created_time }}</h5>
         {% if album.album_img %}
             <img src="/static/media/{{ album.album_img }}" alt="" height="100" width="100">
         {% endif %}
        <p>{{ article.article_context }} </p>
        {% if edit_and_delete == True %}
            <p>
                <a href="/jianshu/{{ article.article_id }}/edit/"><button class="btn">edit</button></a>
                <a href="/jianshu/{{ article.article_id }}/delete/"><button class="btn">delete</button></a>
            </p>
        {% endif %}
        <h4 class="">最新评论</h4>
        <ul class="">
            {% for comment in comments %}
                <li>
                <h5>评论内容: {{ comment.comment_context }}</h5>
                <h5>创建时间: {{ comment.comment_create_time }}</h5>
                </li>
            {% endfor %}
        </ul>
    </ul>
    <button class="btn"><a href="/jianshu/{{ article.article_id }}/comment/">全部评论</a></button>
{% endblock %}